@(sub: Sub, items: Seq[Item])(implicit request: play.api.mvc.Request[AnyContent], userInfo: UserInfo, flash: Flash)

@main(title = sub.name, currentSub = Some(sub.name))   {
  <div class="row">
    <h1>
      @sub.name
    </h1>
  </div>

  <div class="row">
    <div class="span8">
      @sub.description

      @items.size items

      <div class="row">
        <ol>
          @items.map { item =>
            <li>
              <a href="@routes.Subs.singleItem(sub.name, item.id.get)">@item.title</a>
            </li>
          }
        </ol>
    </div>
    
    <div class="span4">
      <a href="@routes.Subs.newItem(sub.name)">Submit item</a>
    </div>
  </div>

}
