@(currentSub: Option[String])(implicit userInfo: UserInfo, flash: Flash)

@formBody(html: Html) = { <div class="modal-body">@html</div> }
@formFooter(html: Html) = { <div class="modal-footer">@html</div> }

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="@routes.Application.index()">kn0de</a>
      <ul class="nav">
        @userInfo.subscriptions.map { sub =>
          <li @if(currentSub.map(_ == sub.name).getOrElse(false)) { class="active" }>
            <a href="@routes.Subs.index(sub.name)">@sub.name</a>
          </li>
        }
        @if(userInfo.subscriptions.size > 0 && userInfo.defaults.size > 0) {
          <li class="divider divider-vertical"></li>
        }
        @userInfo.defaults.map { sub =>
          <li @if(currentSub.map(_ == sub.name).getOrElse(false)) { class="active" }>
            <a href="@routes.Subs.index(sub.name)">@sub.name</a>
          </li>
        }
      </ul>

      <p class="navbar-text pull-right">
        @{userInfo.maybeUser match {
          case Some(user) => user.name
          case None => <a href="#login-modal" data-toggle="modal">login</a>
        }}
      </p>
    </div>
  </div>
</div>

currentSub = @currentSub.getOrElse("no current sub")

@if(userInfo.maybeUser.isEmpty) { 
    <div id="login-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="loginModalHeader">Login</h3>
      </div>
      @{views.html.login(userInfo.loginForm, formBody, formFooter)}
    </div>
}
