@(user: Option[auth.Account])

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="@routes.Application.index()">kn0de</a>
    <ul class="nav">
      <li class="active"><a href="#">AskScience</a></li>
      <li><a href="#">kn0de 1</a></li>
      <li><a href="#">kn0de 2</a></li>
      <li><a href="#">kn0de 3</a></li>
      <li><a href="#">kn0de 4</a></li>
      <li><a href="#">kn0de 5</a></li>
      <li><a href="#">kn0de 6</a></li>
      <li><a href="#">kn0de 7</a></li>
    </ul>

    <p class="navbar-text pull-right">
      @user.map(_.name).getOrElse("not logged in")
    </p>
  </div>
</div>

<div class="row">

  <div class="span4 pull-right">
    here be user info
  </div>

</div>
